<div class="items-container">
  <div class="row-container">
    <span>{{this.form.value | json}}
    </span>
  </div>
  <div class="row-container">
    <form [formGroup]="form" (submit)="sub()">
      <mat-form-field>
        <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="autoComp"
          [matAutocomplete]="auto" (keyup)="filter($event)">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of show; track option.name) {
          <mat-option [value]="option.name">
            {{option.name}}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button mat-flat-button>GO</button>
    </form>
  </div>
</div>